repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: check-added-large-files
    - id: check-yaml
    - id: requirements-txt-fixer
    - id: end-of-file-fixer
    - id: name-tests-test
      args: ['--django']

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      stages: [ pre-commit ]

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        stages: [ pre-commit ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
    - id: bandit
      stages: [ pre-push ]

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.4.2
    hooks:
    -   id: python-safety-dependencies-check
        files: pyproject.toml
