name: Continuous Integration

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10.6'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          make dev_setup

      - name: Test with pytest
        run: |
          uv run make test

      - name: Pre-Commit Hook Checking
        run: |
          uv run pre-commit run --all-files
