name: Continuous Integration

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10.6'

      - name: Poetry Setup
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: '1.3.1'

      - name: Install dependencies
        run: |
          make dev_setup

      - name: Test with pytest
        run: |
          poetry run make test

      - name: Pre-Commit Hook Checking
        run: |
          poetry run pre-commit run --all-files
